.profile__edit-button {
    background-image: url(../../../images/edit-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #ffffff;
    order: 2;
    outline: none;
}

.profile__edit-button:hover {
    opacity: 60%;
}