.profile__edit-button {
    background-image: url(../../../images/edit-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #ffffff;
    outline: none;
}

.profile__edit-button:hover {
    opacity: 60%;
}

@media screen and (max-width: 425px) {
    .profile__edit-button {
        min-width: 18px;
        min-height: 18px;
    }
}