.header__logo {
    object-fit: cover;
    min-width: 142px;
    padding-bottom: 40px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        min-width: 104px;
        padding-bottom: 31px;
    }
}
