.profile__add-button {
    background-image: url(../../../images/add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    min-width: 150px;
    min-height: 50px;
    border: 2px solid #ffffff;
}