.elements__like {
    background-image: url(../../../images/like.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: 19px;
    min-width: 22px;
    min-height: 19px;
    border: none;
    outline: none;
    margin: 25px 15px 31px 0;
    padding: 0;
    cursor: pointer;
}

.elements__like:hover {
    opacity: 50%;
    transition: 0.3s;
}

@media screen and (max-width: 492px) {
    .elements__like {
        min-width: 16px;
        background-size: 16px;
        margin: 30px 10px 30px 0;
    }
}

@media screen and (max-width: 436px) {
    .elements__like {
        margin: 30px 20px 30px 0;
        min-width: 22px;
        height: 19px;
        background-size: contain;
    }
}